<div id="detailBoardModal" class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-11 text-center">활동 내역
                    <span id="r"><%=  %></span>
                </h4>
                <button type="button" class="col-1 close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <canvas id="c" class="text-center" width="320%" height="240%" style="border:1px solid #aaa"></canvas>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>