<!-- Delete Modal HTML -->
<div id="deleteTaskModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/upload/delete" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">삭제</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>정말 삭제하시겠습니까?</p>
                    <p class="text-warning"><small>삭제하면 복구할 수 없습니다.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="submit-delete-input" name="accessCode">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>