<!DOCTYPE html>
<html>

<head>

    <%- include('./../common/header.ejs') %>

</head>

<body class="bg-gradient-primary">

    <%- include('./contents.ejs') %>

    <%- include('./../common/import-js.ejs') %>

</body>

</html>