<!DOCTYPE html>
<html>

<head>
    <%- include('../common/header.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다.</title>
</head>

<body style="background-color:#f1ffce">
    <div style="font-family:MaplestoryOTFBold;font-size:x-large;color:black;text-align:center" class="mt-2">
        <img src="img/logo-xsm-nt.png" height="50" width="50">
        &nbsp;
        <img src="img/banner-xsm.png" height="70" width="400">
    </div>
    <br><br>
    <container class="row text-center" style="height: 100vh; display: flex; font-family:MaplestoryOTFBold">
        <div class="col-sm-6">
            <a href="board">
                <img src="img/main-btn1.png" height="220" width="">
            </a>
        </div>
        <div class="col-sm-6">
            <a href="result">
                <img src="img/main-btn2.png" height="220" width="">
            </a>
        </div>
    </container>
</body>

</html>