<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <%- include('./main-content.ejs') %>
        <!-- Begin Page Content -->

        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



    

</div>
<!-- End of Content Wrapper -->