<div id="helpModal" class="modal fade modal-scrollable">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-11 text-center font-weight-bold">그림판 기능 설명</h4>
                <button type="button" class="col-1 close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <table class="text-center border border-dark ml-2">
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-warning text-dark font-weight-bold m-1">AI</button>
                        </td>
                        <td>
                            <span>&emsp;AI를 사용해서 자연어로 위키백과를 검색하기&emsp;</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-undo"></i></button>
                        </td>
                        <td>
                            <span>되돌리기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-redo"></i></button>
                        </td>
                        <td>
                            <span>다시하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                        <td>
                            <span>펜 그리기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-font"></i></button>
                        </td>
                        <td>
                            <span>텍스트 박스 추가하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="far fa-object-ungroup"></i></button>
                        </td>
                        <td>
                            <span>선택하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-eraser"></i></button>
                        </td>
                        <td>
                            <span>선택한 개체 삭제하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark">
                            <button class="btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                        </td>
                        <td>
                            <span>화면 전체 지우기</span>
                        </td>
                    </tr>
                </table>
                <table class="text-center border border-dark mt-3 ml-2">
                    <tr class="border border-dark">
                        <td class="bg-dark pl-1 pr-1">
                            <button class="btn btn-dark"><i class="fas fa-search-plus"></i></button>
                        </td>
                        <td>
                            <span>그림판 화면의 크기 확대하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark p-1">
                            <button class="btn btn-dark"><i class="fas fa-search-minus"></i></button>
                        </td>
                        <td>
                            <span>그림판 화면의 크기 축소하기</span>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td class="bg-dark p-1">
                            <button class="btn btn-dark"><i class="fas fa-search"></i></button>
                        </td>
                        <td>
                            <span>&emsp;&emsp;그림판 화면을 원래 크기로 되돌리기&emsp;&emsp;&emsp;&emsp;</span>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>